<div class="container jumbotron">
<h1>We Have the Best Products for any Real Estate Investment!</h1>
<p>Find out more below</p>
</div>

<div class="container">
<div>
   <h2>Rehab Loans</h2> 
   <%= link_to '<button type="button" class="btn btn-lg btn-success">Apply Now?</button>'.html_safe, about_path %>
    
</div> <hr>

<div>
   <h2>Bridge Loans</h2> 
   <%= link_to '<button type="button" class="btn btn-lg btn-success">Apply Now?</button>'.html_safe, about_path %> 
</div> <hr>

<div>
   <h2>Term Loans</h2> 
   <%= link_to '<button type="button" class="btn btn-lg btn-success">Apply Now?</button>'.html_safe, about_path %>    
</div> <hr>

<div>
   <h2>Blanket Loans</h2> 
   <%= link_to '<button type="button" class="btn btn-lg btn-success">Apply Now?</button>'.html_safe, about_path %> 
</div> <hr>

<div>
   <h2>Commercial Loans</h2> 
   <%= link_to '<button type="button" class="btn btn-lg btn-success">Apply Now?</button>'.html_safe, about_path %> 
</div> <br><br>

</div>